{% assign locale = include.locale | default: site.locale %}
{% assign posts = include.posts | where_exp: "post", "post.hidden != true" %}

<div class="page__related">
  {% include before-related.html %}
  
  {% if page.categories contains "release" %}
    <h2 class="page__related-title">more releases</h2>
  {% else %}
    <h2 class="page__related-title">
      {{ site.data.ui-text[locale].related_label | default: "more projects" }}
    </h2>
  {% endif %}

  {%- comment -%}
      FILTERING, if on release soundtrack page, show related soundtrack
    {%- endcomment -%}

  <div class="grid__wrapper">
  {% assign count = 0 %}

  {% if page.categories contains "release" and page.tags contains "soundtrack" %}
    
    {% for post in site.categories.release %}
      {% if post.id == page.id %}
        {% continue %}
      {% endif %}

      {% if post.tags contains "soundtrack" %}

        {% include archive-single.html post=post locale=locale type="grid" %}

        {% assign count = count | plus: 1 %}
        {% if count >= 4 %}
          {% break %}
        {% endif %}

      {% endif %}

    {% endfor %}

  {% elsif page.categories contains "release" and (page.tags contains "single" or page.tags contains "EP") %}

    {%- comment -%}
      fallback: any other release, non-soundtrack
    {%- endcomment -%}

    {% for post in site.categories.release %}
      {% if post.id == page.id %}
        {% continue %}
      {% endif %}

      {% if post.tags contains "single" or post.tags contains "EP" %}

        {% include archive-single.html post=post locale=locale type="grid" %}

        {% assign count = count | plus: 1 %}
        {% if count >= 4 %}
          {% break %}
        {% endif %}
      {% endif %}

    {% endfor %}

  {% else %}

    {%- comment -%}
      projects/blog logic (unchanged)
    {%- endcomment -%}

    {% assign related_posts = site.categories.project | concat: site.categories.blog %}

    {% for post in related_posts %}

      {% if post.id == page.id %}
        {% continue %}
      {% endif %}

      {% include archive-single.html post=post locale=locale type="grid" %}

      {% assign count = count | plus: 1 %}
      {% if count >= 4 %}
        {% break %}
      {% endif %}

    {% endfor %}

  {% endif %}

</div>
