{% assign locale = include.locale | default: site.locale %}

{% unless site.show_taxonomy == false %}

  {% if page.platforms %}
  <p class="page__taxonomy">
    <strong><i class="fa-solid fa-globe"></i> Platforms:</strong>

    {% for platform in page.platforms %}
      <a href="/tags/#platform-{{ platform | slugify }}"
         class="page__taxonomy-item">
        {{ platform }}
      </a>
    {% endfor %}
  </p>
  {% endif %}

  {% if page.devices %}
  <p class="page__taxonomy">
    <strong><i class="fa-solid fa-mobile-retro"></i> Devices:</strong>

    {% for device in page.devices %}
      <a href="/tags/#device-{{ device | slugify }}"
         class="page__taxonomy-item">
        {{ device }}
      </a>
    {% endfor %}
  </p>
  {% endif %}

  {% if site.category_archive.type and page.categories[0] %}
    {% include category-list.html locale=locale %}
  {% endif %}

  {% if page.moods %}
    <p class="page__taxonomy">
      <strong><i class="fa-solid fa-face-smile" aria-hidden="true"></i> Moods:</strong>
      {% for mood in page.moods %}
        <a href="{{'/moods/' | relative_url }}#{{ mood | slugify }}"
           class="page__taxonomy-item">
          {{ mood }}
        </a>
      {% endfor %}
    </p>
  {% endif %}

  {% if site.tag_archive.type and page.tags[0] %}
    {% include tag-list.html locale=locale %}
  {% endif %}

{% endunless %}
