{% assign locale = include.locale | default: site.locale %}

{% unless site.show_taxonomy == false %}

  {% if page.methods %}
  <p class="page__taxonomy">
    <strong><i class="fa-solid fa-glasses"></i> Methods:</strong>

    {% for method in page.methods %}
      <a href="/tags/#method-{{ method | slugify }}"
         class="page__taxonomy-item">
        {{ method }}
      </a>
    {% endfor %}
  </p>
  {% endif %}

  {% if page.tools %}
  <p class="page__taxonomy">
    <strong><i class="fa-solid fa-wrench"></i> Tools:</strong>

    {% for tool in page.tools %}
      <a href="/tags/#tool-{{ tool | slugify }}"
         class="page__taxonomy-item">
        {{ tool }}
      </a>
    {% endfor %}
  </p>
  {% endif %}

  {% if site.category_archive.type and page.categories[0] %}
    {% include category-list.html locale=locale %}
  {% endif %}

  {% if page.moods %}
    <p class="page__taxonomy">
      <strong><i class="fa-solid fa-face-smile" aria-hidden="true"></i> Moods:</strong>
      {% for mood in page.moods %}
        <a href="{{'/moods/' | relative_url }}#{{ mood | slugify }}"
           class="page__taxonomy-item">
          {{ mood }}
        </a>
      {% endfor %}
    </p>
  {% endif %}

  {% if site.tag_archive.type and page.tags[0] %}
    {% include tag-list.html locale=locale %}
  {% endif %}

{% endunless %}
