{% assign locale = include.locale | default: site.locale %}
{% assign items_max = 0 %}
{% for item in include.taxonomies %}
  {% if item[1].size > items_max %}
    {% assign items_max = item[1].size %}
  {% endif %}
{% endfor %}

<!-- SORT by COUNT  VERSION -->
{% comment %} <ul class="taxonomy__index">
  {% for i in (1..items_max) reversed %}
    {% for item in include.taxonomies %}
      {% if item[1].size == i %}
        <li>
          <a href="#{{ item[0] | slugify }}">
            <strong>{{ item[0] }}</strong> <span class="taxonomy__count">{{ i }}</span>
          </a>
        </li>
      {% endif %}
    {% endfor %}
  {% endfor %}
</ul> {% endcomment %}

<!-- TAG LIST - SORT ALPHABETICALLY VERSION -->
<ul class="taxonomy__index">
  {% assign sorted_taxonomies = include.taxonomies | sort %}

  {% for item in sorted_taxonomies %}
    <li>
      <a href="#{{ item[0] | slugify }}">
        <strong>{{ item[0] }}</strong>
        <span class="taxonomy__count">{{ item[1].size }}</span>
      </a>
    </li>
  {% endfor %}
</ul>

{% comment %} {% assign entries_layout = page.entries_layout | default: 'list' %}
{% for i in (1..items_max) reversed %}
  {% for taxonomy in include.taxonomies %}
    {% if taxonomy[1].size == i %}
      <section id="{{ taxonomy[0] | slugify }}" class="taxonomy__section">
        <h2 class="archive__subtitle">
          <a
          href="#{{ taxonomy[0] | slugify }}"
          class="btn btn--warning btn--small">
          {{ taxonomy[0] }}</a>
        </h2>
        <div class="entries-{{ entries_layout }}">
          {% for post in taxonomy.last %}
            {% include archive-single.html locale=locale type=entries_layout %}
          {% endfor %}
        </div>
      </section>
    {% endif %}
  {% endfor %}
{% endfor %} {% endcomment %}

<!-- SECTION TAG - SORT ALPHABETICALLY VERSION -->
{% assign entries_layout = page.entries_layout | default: 'list' %}

{% assign sorted_taxonomies = include.taxonomies | sort %}

{% for taxonomy in sorted_taxonomies %}
  <section id="{{ taxonomy[0] | slugify }}" class="taxonomy__section">
    <h2 class="archive__subtitle">
       <a
        href="#{{ taxonomy[0] | slugify }}"
        class="btn btn--warning btn--small">
        {{ taxonomy[0] }}</a>
    </h2>

    <div class="entries-{{ entries_layout }}">
      {% for post in taxonomy[1] %}
        {% include archive-single.html locale=locale type=entries_layout %}
      {% endfor %}
    </div>

  </section>
{% endfor %}
