---
layout: archive
---

{%- assign locale = page.locale | default: layout.locale | default: site.locale %}

{{ content }}

<aside class="sidebar__right sticky">
  <nav class="toc">
    <header>
      <h4 class="nav__title">
        <i class="fas fa-sitemap"></i>
        navigation
      </h4>
    </header>

    <ul class="toc__menu">
      <li><a href="#tags">Tags</a></li>
      <li><a href="#methods">Methods</a></li>
      <li><a href="#tools">Tools</a></li>
    </ul>
  </nav>
</aside>

<!-- TAGS -->

<h2 id="tags">Tags</h2>

{% include posts-taxonomy.html locale=locale taxonomies=site.tags %}

<!-- METHODS -->

<h2 id="methods">Methods</h2>

{% assign method_string = "" %}

{% for post in site.posts %}
  {% if post.methods %}
    {% for method in post.methods %}
      {% assign method_string = method_string | append: method | append: "|" %}
    {% endfor %}
  {% endif %}
{% endfor %}

{% assign methods = method_string | split: "|" | uniq | sort %}

<ul class="taxonomy__index">
{% for method in methods %}
  {% unless method == "" %}

    {% assign count = 0 %}

    {% for post in site.posts %}
      {% if post.methods contains method %}
        {% assign count = count | plus: 1 %}
      {% endif %}
    {% endfor %}

    <li>
      <a href="#method-{{ method | slugify }}">
        <strong>{{ method }}</strong>
        <span class="taxonomy__count">{{ count }}</span>
      </a>
    </li>

  {% endunless %}
{% endfor %}
</ul>

{% assign entries_layout = page.entries_layout | default: 'list' %}

{% for method in methods %}
  {% unless method == "" %}

    <section id="method-{{ method | slugify }}" class="taxonomy__section">
      <h2 class="archive__subtitle">
        <a
        href="#method-{{ method | slugify }}"
        class="btn btn--primary btn--small">
        {{ method }}</a>
      </h2>

      <div class="entries-{{ entries_layout }}">
        {% for post in site.posts %}
          {% if post.methods contains method %}
            {% include archive-single.html type=entries_layout %}
          {% endif %}
        {% endfor %}
      </div>

    </section>

  {% endunless %}
{% endfor %}

<!-- TOOLS -->

<h2 id="tools">Tools</h2>

{% assign tool_string = "" %}

{% for post in site.posts %}
  {% if post.tools %}
    {% for tool in post.tools %}
      {% assign tool_string = tool_string | append: tool | append: "|" %}
    {% endfor %}
  {% endif %}
{% endfor %}

{% assign tools = tool_string | split: "|" | uniq | sort %}

<ul class="taxonomy__index">
{% for tool in tools %}
  {% unless tool == "" %}

    {% assign count = 0 %}

    {% for post in site.posts %}
      {% if post.tools contains tool %}
        {% assign count = count | plus: 1 %}
      {% endif %}
    {% endfor %}

    <li>
      <a href="#tool-{{ tool | slugify }}">
        <strong>{{ tool }}</strong>
        <span class="taxonomy__count">{{ count }}</span>
      </a>
    </li>

  {% endunless %}
{% endfor %}
</ul>

{% for tool in tools %}
  {% unless tool == "" %}

    <section id="tool-{{ tool | slugify }}" class="taxonomy__section">
      <h2 class="archive__subtitle">
        <a
        href="#tool-{{ tool | slugify }}"
        class="btn btn--success btn--small">
        {{ tool }}</a>
      </h2>

      <div class="entries-{{ entries_layout }}">
        {% for post in site.posts %}
          {% if post.tools contains tool %}
            {% include archive-single.html type=entries_layout %}
          {% endif %}
        {% endfor %}
      </div>

    </section>

  {% endunless %}
{% endfor %}
